.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  background-attachment: fixed !important;
}

/* Remove extra left and right margins, due to padding in columns */
.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71,71,71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-button {
  background-color: lightpink; /* Green */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.short-text {
  max-width: 500px;
}
